.vs/IisGuard/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/IisGuard/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
.vs/IisGuard/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
.vs/IisGuard/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
.vs/IisGuard/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
.vs/IisGuard/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
IisGuard/bin/Debug/net9.0/appsettings.json
IisGuard/bin/Debug/net9.0/IisGuard.deps.json
IisGuard/bin/Debug/net9.0/IisGuard.dll
IisGuard/bin/Debug/net9.0/IisGuard.exe
IisGuard/bin/Debug/net9.0/IisGuard.pdb
IisGuard/bin/Debug/net9.0/IisGuard.runtimeconfig.json
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Binder.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Configuration.CommandLine.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Configuration.FileExtensions.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Json.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Configuration.UserSecrets.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Physical.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.FileSystemGlobbing.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Hosting.Abstractions.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Hosting.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Hosting.WindowsServices.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Logging.Configuration.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Logging.Console.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Logging.Debug.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Logging.EventLog.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Logging.EventSource.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
IisGuard/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
IisGuard/bin/Debug/net9.0/Microsoft.Web.Administration.dll
IisGuard/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Diagnostics.EventLog.dll
IisGuard/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Diagnostics.EventLog.Messages.dll
IisGuard/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.ServiceProcess.ServiceController.dll
IisGuard/bin/Debug/net9.0/System.Diagnostics.EventLog.dll
IisGuard/bin/Debug/net9.0/System.IO.Abstractions.dll
IisGuard/bin/Debug/net9.0/System.ServiceProcess.ServiceController.dll
IisGuard/bin/Debug/net9.0/TestableIO.System.IO.Abstractions.dll
IisGuard/bin/Debug/net9.0/TestableIO.System.IO.Abstractions.Wrappers.dll
IisGuard/bin/Debug/net9.0/Testably.Abstractions.FileSystem.Interface.dll
IisGuard/bin/Release/net9.0/win-x64/clretwrc.dll
IisGuard/bin/Release/net9.0/win-x64/clrgc.dll
IisGuard/bin/Release/net9.0/win-x64/clrgcexp.dll
IisGuard/bin/Release/net9.0/win-x64/clrjit.dll
IisGuard/bin/Release/net9.0/win-x64/coreclr.dll
IisGuard/bin/Release/net9.0/win-x64/createdump.exe
IisGuard/bin/Release/net9.0/win-x64/hostfxr.dll
IisGuard/bin/Release/net9.0/win-x64/hostpolicy.dll
IisGuard/bin/Release/net9.0/win-x64/IisGuard.deps.json
IisGuard/bin/Release/net9.0/win-x64/IisGuard.dll
IisGuard/bin/Release/net9.0/win-x64/IisGuard.exe
IisGuard/bin/Release/net9.0/win-x64/IisGuard.pdb
IisGuard/bin/Release/net9.0/win-x64/IisGuard.runtimeconfig.json
IisGuard/bin/Release/net9.0/win-x64/Microsoft.CSharp.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.DiaSymReader.Native.amd64.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Configuration.Abstractions.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Configuration.Binder.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Configuration.CommandLine.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Configuration.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Configuration.FileExtensions.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Configuration.Json.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Configuration.UserSecrets.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.DependencyInjection.Abstractions.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.DependencyInjection.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Diagnostics.Abstractions.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Diagnostics.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.FileProviders.Abstractions.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.FileProviders.Physical.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.FileSystemGlobbing.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Hosting.Abstractions.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Hosting.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Hosting.WindowsServices.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Logging.Abstractions.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Logging.Configuration.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Logging.Console.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Logging.Debug.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Logging.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Logging.EventLog.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Logging.EventSource.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Options.ConfigurationExtensions.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Options.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Extensions.Primitives.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.VisualBasic.Core.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.VisualBasic.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Web.Administration.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Win32.Primitives.dll
IisGuard/bin/Release/net9.0/win-x64/Microsoft.Win32.Registry.dll
IisGuard/bin/Release/net9.0/win-x64/mscordaccore.dll
IisGuard/bin/Release/net9.0/win-x64/mscordaccore_amd64_amd64_9.0.925.41916.dll
IisGuard/bin/Release/net9.0/win-x64/mscordbi.dll
IisGuard/bin/Release/net9.0/win-x64/mscorlib.dll
IisGuard/bin/Release/net9.0/win-x64/mscorrc.dll
IisGuard/bin/Release/net9.0/win-x64/msquic.dll
IisGuard/bin/Release/net9.0/win-x64/netstandard.dll
IisGuard/bin/Release/net9.0/win-x64/System.AppContext.dll
IisGuard/bin/Release/net9.0/win-x64/System.Buffers.dll
IisGuard/bin/Release/net9.0/win-x64/System.Collections.Concurrent.dll
IisGuard/bin/Release/net9.0/win-x64/System.Collections.dll
IisGuard/bin/Release/net9.0/win-x64/System.Collections.Immutable.dll
IisGuard/bin/Release/net9.0/win-x64/System.Collections.NonGeneric.dll
IisGuard/bin/Release/net9.0/win-x64/System.Collections.Specialized.dll
IisGuard/bin/Release/net9.0/win-x64/System.ComponentModel.Annotations.dll
IisGuard/bin/Release/net9.0/win-x64/System.ComponentModel.DataAnnotations.dll
IisGuard/bin/Release/net9.0/win-x64/System.ComponentModel.dll
IisGuard/bin/Release/net9.0/win-x64/System.ComponentModel.EventBasedAsync.dll
IisGuard/bin/Release/net9.0/win-x64/System.ComponentModel.Primitives.dll
IisGuard/bin/Release/net9.0/win-x64/System.ComponentModel.TypeConverter.dll
IisGuard/bin/Release/net9.0/win-x64/System.Configuration.dll
IisGuard/bin/Release/net9.0/win-x64/System.Console.dll
IisGuard/bin/Release/net9.0/win-x64/System.Core.dll
IisGuard/bin/Release/net9.0/win-x64/System.Data.Common.dll
IisGuard/bin/Release/net9.0/win-x64/System.Data.DataSetExtensions.dll
IisGuard/bin/Release/net9.0/win-x64/System.Data.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.Contracts.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.Debug.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.DiagnosticSource.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.EventLog.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.EventLog.Messages.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.FileVersionInfo.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.Process.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.StackTrace.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.TextWriterTraceListener.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.Tools.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.TraceSource.dll
IisGuard/bin/Release/net9.0/win-x64/System.Diagnostics.Tracing.dll
IisGuard/bin/Release/net9.0/win-x64/System.dll
IisGuard/bin/Release/net9.0/win-x64/System.Drawing.dll
IisGuard/bin/Release/net9.0/win-x64/System.Drawing.Primitives.dll
IisGuard/bin/Release/net9.0/win-x64/System.Dynamic.Runtime.dll
IisGuard/bin/Release/net9.0/win-x64/System.Formats.Asn1.dll
IisGuard/bin/Release/net9.0/win-x64/System.Formats.Tar.dll
IisGuard/bin/Release/net9.0/win-x64/System.Globalization.Calendars.dll
IisGuard/bin/Release/net9.0/win-x64/System.Globalization.dll
IisGuard/bin/Release/net9.0/win-x64/System.Globalization.Extensions.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.Abstractions.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.Compression.Brotli.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.Compression.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.Compression.FileSystem.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.Compression.Native.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.Compression.ZipFile.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.FileSystem.AccessControl.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.FileSystem.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.FileSystem.DriveInfo.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.FileSystem.Primitives.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.FileSystem.Watcher.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.IsolatedStorage.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.MemoryMappedFiles.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.Pipelines.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.Pipes.AccessControl.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.Pipes.dll
IisGuard/bin/Release/net9.0/win-x64/System.IO.UnmanagedMemoryStream.dll
IisGuard/bin/Release/net9.0/win-x64/System.Linq.dll
IisGuard/bin/Release/net9.0/win-x64/System.Linq.Expressions.dll
IisGuard/bin/Release/net9.0/win-x64/System.Linq.Parallel.dll
IisGuard/bin/Release/net9.0/win-x64/System.Linq.Queryable.dll
IisGuard/bin/Release/net9.0/win-x64/System.Memory.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.Http.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.Http.Json.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.HttpListener.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.Mail.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.NameResolution.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.NetworkInformation.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.Ping.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.Primitives.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.Quic.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.Requests.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.Security.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.ServicePoint.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.Sockets.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.WebClient.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.WebHeaderCollection.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.WebProxy.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.WebSockets.Client.dll
IisGuard/bin/Release/net9.0/win-x64/System.Net.WebSockets.dll
IisGuard/bin/Release/net9.0/win-x64/System.Numerics.dll
IisGuard/bin/Release/net9.0/win-x64/System.Numerics.Vectors.dll
IisGuard/bin/Release/net9.0/win-x64/System.ObjectModel.dll
IisGuard/bin/Release/net9.0/win-x64/System.Private.CoreLib.dll
IisGuard/bin/Release/net9.0/win-x64/System.Private.DataContractSerialization.dll
IisGuard/bin/Release/net9.0/win-x64/System.Private.Uri.dll
IisGuard/bin/Release/net9.0/win-x64/System.Private.Xml.dll
IisGuard/bin/Release/net9.0/win-x64/System.Private.Xml.Linq.dll
IisGuard/bin/Release/net9.0/win-x64/System.Reflection.DispatchProxy.dll
IisGuard/bin/Release/net9.0/win-x64/System.Reflection.dll
IisGuard/bin/Release/net9.0/win-x64/System.Reflection.Emit.dll
IisGuard/bin/Release/net9.0/win-x64/System.Reflection.Emit.ILGeneration.dll
IisGuard/bin/Release/net9.0/win-x64/System.Reflection.Emit.Lightweight.dll
IisGuard/bin/Release/net9.0/win-x64/System.Reflection.Extensions.dll
IisGuard/bin/Release/net9.0/win-x64/System.Reflection.Metadata.dll
IisGuard/bin/Release/net9.0/win-x64/System.Reflection.Primitives.dll
IisGuard/bin/Release/net9.0/win-x64/System.Reflection.TypeExtensions.dll
IisGuard/bin/Release/net9.0/win-x64/System.Resources.Reader.dll
IisGuard/bin/Release/net9.0/win-x64/System.Resources.ResourceManager.dll
IisGuard/bin/Release/net9.0/win-x64/System.Resources.Writer.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.CompilerServices.Unsafe.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.CompilerServices.VisualC.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Extensions.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Handles.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.InteropServices.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.InteropServices.JavaScript.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.InteropServices.RuntimeInformation.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Intrinsics.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Loader.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Numerics.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Serialization.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Serialization.Formatters.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Serialization.Json.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Serialization.Primitives.dll
IisGuard/bin/Release/net9.0/win-x64/System.Runtime.Serialization.Xml.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.AccessControl.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Claims.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Cryptography.Algorithms.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Cryptography.Cng.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Cryptography.Csp.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Cryptography.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Cryptography.Encoding.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Cryptography.OpenSsl.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Cryptography.Primitives.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Cryptography.X509Certificates.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Principal.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.Principal.Windows.dll
IisGuard/bin/Release/net9.0/win-x64/System.Security.SecureString.dll
IisGuard/bin/Release/net9.0/win-x64/System.ServiceModel.Web.dll
IisGuard/bin/Release/net9.0/win-x64/System.ServiceProcess.dll
IisGuard/bin/Release/net9.0/win-x64/System.ServiceProcess.ServiceController.dll
IisGuard/bin/Release/net9.0/win-x64/System.Text.Encoding.CodePages.dll
IisGuard/bin/Release/net9.0/win-x64/System.Text.Encoding.dll
IisGuard/bin/Release/net9.0/win-x64/System.Text.Encoding.Extensions.dll
IisGuard/bin/Release/net9.0/win-x64/System.Text.Encodings.Web.dll
IisGuard/bin/Release/net9.0/win-x64/System.Text.Json.dll
IisGuard/bin/Release/net9.0/win-x64/System.Text.RegularExpressions.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.Channels.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.Overlapped.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.Tasks.Dataflow.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.Tasks.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.Tasks.Extensions.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.Tasks.Parallel.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.Thread.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.ThreadPool.dll
IisGuard/bin/Release/net9.0/win-x64/System.Threading.Timer.dll
IisGuard/bin/Release/net9.0/win-x64/System.Transactions.dll
IisGuard/bin/Release/net9.0/win-x64/System.Transactions.Local.dll
IisGuard/bin/Release/net9.0/win-x64/System.ValueTuple.dll
IisGuard/bin/Release/net9.0/win-x64/System.Web.dll
IisGuard/bin/Release/net9.0/win-x64/System.Web.HttpUtility.dll
IisGuard/bin/Release/net9.0/win-x64/System.Windows.dll
IisGuard/bin/Release/net9.0/win-x64/System.Xml.dll
IisGuard/bin/Release/net9.0/win-x64/System.Xml.Linq.dll
IisGuard/bin/Release/net9.0/win-x64/System.Xml.ReaderWriter.dll
IisGuard/bin/Release/net9.0/win-x64/System.Xml.Serialization.dll
IisGuard/bin/Release/net9.0/win-x64/System.Xml.XDocument.dll
IisGuard/bin/Release/net9.0/win-x64/System.Xml.XmlDocument.dll
IisGuard/bin/Release/net9.0/win-x64/System.Xml.XmlSerializer.dll
IisGuard/bin/Release/net9.0/win-x64/System.Xml.XPath.dll
IisGuard/bin/Release/net9.0/win-x64/System.Xml.XPath.XDocument.dll
IisGuard/bin/Release/net9.0/win-x64/TestableIO.System.IO.Abstractions.dll
IisGuard/bin/Release/net9.0/win-x64/TestableIO.System.IO.Abstractions.Wrappers.dll
IisGuard/bin/Release/net9.0/win-x64/Testably.Abstractions.FileSystem.Interface.dll
IisGuard/bin/Release/net9.0/win-x64/WindowsBase.dll
IisGuard/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
IisGuard/obj/Debug/net9.0/apphost.exe
IisGuard/obj/Debug/net9.0/IisGuard.AssemblyInfo.cs
IisGuard/obj/Debug/net9.0/IisGuard.AssemblyInfoInputs.cache
IisGuard/obj/Debug/net9.0/IisGuard.assets.cache
IisGuard/obj/Debug/net9.0/IisGuard.csproj.AssemblyReference.cache
IisGuard/obj/Debug/net9.0/IisGuard.csproj.BuildWithSkipAnalyzers
IisGuard/obj/Debug/net9.0/IisGuard.csproj.CoreCompileInputs.cache
IisGuard/obj/Debug/net9.0/IisGuard.csproj.FileListAbsolute.txt
IisGuard/obj/Debug/net9.0/IisGuard.csproj.Up2Date
IisGuard/obj/Debug/net9.0/IisGuard.dll
IisGuard/obj/Debug/net9.0/IisGuard.GeneratedMSBuildEditorConfig.editorconfig
IisGuard/obj/Debug/net9.0/IisGuard.genruntimeconfig.cache
IisGuard/obj/Debug/net9.0/IisGuard.GlobalUsings.g.cs
IisGuard/obj/Debug/net9.0/IisGuard.pdb
IisGuard/obj/Debug/net9.0/ref/IisGuard.dll
IisGuard/obj/Debug/net9.0/refint/IisGuard.dll
IisGuard/obj/IisGuard.csproj.nuget.dgspec.json
IisGuard/obj/IisGuard.csproj.nuget.g.props
IisGuard/obj/IisGuard.csproj.nuget.g.targets
IisGuard/obj/project.assets.json
IisGuard/obj/project.nuget.cache
IisGuard/obj/Release/net9.0/win-x64/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
IisGuard/obj/Release/net9.0/win-x64/apphost.exe
IisGuard/obj/Release/net9.0/win-x64/IisGuard.AssemblyInfo.cs
IisGuard/obj/Release/net9.0/win-x64/IisGuard.AssemblyInfoInputs.cache
IisGuard/obj/Release/net9.0/win-x64/IisGuard.assets.cache
IisGuard/obj/Release/net9.0/win-x64/IisGuard.csproj.AssemblyReference.cache
IisGuard/obj/Release/net9.0/win-x64/IisGuard.csproj.CoreCompileInputs.cache
IisGuard/obj/Release/net9.0/win-x64/IisGuard.csproj.FileListAbsolute.txt
IisGuard/obj/Release/net9.0/win-x64/IisGuard.csproj.Up2Date
IisGuard/obj/Release/net9.0/win-x64/IisGuard.deps.json
IisGuard/obj/Release/net9.0/win-x64/IisGuard.dll
IisGuard/obj/Release/net9.0/win-x64/IisGuard.genbundle.cache
IisGuard/obj/Release/net9.0/win-x64/IisGuard.GeneratedMSBuildEditorConfig.editorconfig
IisGuard/obj/Release/net9.0/win-x64/IisGuard.genpublishdeps.cache
IisGuard/obj/Release/net9.0/win-x64/IisGuard.genruntimeconfig.cache
IisGuard/obj/Release/net9.0/win-x64/IisGuard.GlobalUsings.g.cs
IisGuard/obj/Release/net9.0/win-x64/IisGuard.pdb
IisGuard/obj/Release/net9.0/win-x64/PublishOutputs.bb9a9aabf2.txt
IisGuard/obj/Release/net9.0/win-x64/ref/IisGuard.dll
IisGuard/obj/Release/net9.0/win-x64/refint/IisGuard.dll
IisGuard/obj/Release/net9.0/win-x64/singlefilehost.exe
